/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1000px;
    margin: 0 auto;
}


/* Navbar */
.navbar {
    background: #4d6fff;
    padding: 30px;
}

.navbar * {
    text-decoration: none;
    color: white;
    border: 1px solid rgb(255, 255, 255);
    padding: 7px;
    border-radius: 15px;
    margin-left: 40px;
}


/* Tabella tasks */
.task-table {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.task-table th,
.task-table td {
    border: 1px solid #ddd;
    padding: 10px;
}

.task-table h1 {
    text-align: center;
    margin-bottom: 20px;
}

.task-link {
    text-decoration: none;
    color: black;
}

.task-link:hover {
    color: #4d6fff;
}

.task-table th {
    cursor: pointer;
}

.task-table input {
    width: 300px;
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px auto;
}


/* Add task page */
.add-task-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #e6e6e6b0;
    border-radius: 12px;
}

.add-task-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.add-task-container form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.add-task-container input,
.add-task-container textarea,
.add-task-container select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.add-task-container textarea {
    min-height: 100px;
    resize: none;
}

.add-task-container button {
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: #4d6fff;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.add-task-container button:hover {
    background: #3b56d6;
}


/* Task detail page */
.task-detail {
    max-width: 500px;
    margin: 40px auto;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
    background-color: #e6e6e6b0;
}

.task-detail p {
    margin: 10px 0;
}

.task-detail button {
    margin-top: 10px;
    padding: 10px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background-color: #e45858;
    color: white;
    margin: 10px;
}

.task-detail button:hover {
    background-color: #c23e3e;
}


/* Modal */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
}

.modal-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
}

.modal-actions button {
    padding: 8px;
    border-radius: 20px;
    cursor: pointer;
}

.modal-actions button:hover {
    background-color: #ddd;
}

.modal * {
    margin-top: 10px;
}

/* Modale modifica task */

.modal-content * {
    display: flex;
    flex-direction: column;
}

.modal-content label {
    font-weight: bold;
}

.modal-content input,
.modal-content textarea,
.modal-content select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #e6e6e6b0;
}

.modal-content textarea {
    min-height: 100px;
    resize: none;
}