/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1000px;
    margin: 0 auto;
}


/* Navbar */
.navbar {
    display: flex;
    justify-content: space-around;
    background-color: rgba(86, 179, 255, 0.912);
    padding: 20px;
}

.navbar * {
    text-decoration: none;
    color: black;
}


/* Tabella tasks */
.task-table {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.task-table th,
.task-table td {
    border: 1px solid #ddd;
    padding: 10px;
}

.task-table h1 {
    text-align: center;
    margin-bottom: 20px;
}


/* Add task page */
.add-task-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background: #e6e6e6b0;
    border-radius: 12px;
}

.add-task-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.add-task-container form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.add-task-container input,
.add-task-container textarea,
.add-task-container select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.add-task-container textarea {
    min-height: 100px;
    resize: none;
}

.add-task-container button {
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: #4d6fff;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.add-task-container button:hover {
    background: #3b56d6;
}